<section>
    <div class="container mt-5">
        <h2 class="text-center">Add Product</h2>
        <form action="/admin/add-product" enctype="multipart/form-data" method="post">
            <div class="form-group">
                <label for="product__name">Name</label>
                <input type="text" class="form-control" id="product__name" name="product__name">
            </div>
            <div class="form-group">
                <label for="product__category">Category</label>
                <input type="text" class="form-control" id="product__category" name="product__category">
            </div>
            <div class="form-group">
                <label for="product__varient">Varient</label>
                <input type="text" class="form-control" id="product__varient" name="product__varient">
            </div>
            <div class="form-group">
                <label for="image">Image</label>
                <input type="file" class="form-control" id="image" name="image">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</section>