<section>
    <div class="container">
        <div class="row mt-5">
            <a href="/admin/add-admin" class="btn btn-success ml-auto">Add ADMIN</a>
        </div>
        <table class="table mt-5">
            <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Name</th>
                    <th scope="col">Employee ID</th>
                    <th scope="col">Image</th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td>1</td>
                    <td>Dasan</td>
                    <td>1115555</td>
                    <td> <img height="60px" width="auto" src="#"> </td>
                    <td>
                        <a href="" class="btn btn-primary">Edit</a>
                        <a href="" class="btn btn-danger"
                            onclick="return confirm('Are you sure, you want to delete')">Delete</a>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</section>