<section>
    <div class="container">
        <div class="card">
            <h2 class="mr-auto ml-auto mt-5">Order Summary</h3>
                <div class="ml-5 mr-5 mb-5">
                    <form id="checkout__form">

                        <h4 class="mt-5">Total amount: <span class="text-success">{{totalAmount}}</span> </h4>
                        <h4 class="mt-3">Choose Payment Method</h4>
                        <input type="radio" value="cod" checked name="payMode" id="paySelect">
                        <label class="form-check-label" for="paySelect">
                            Cash On Delivery
                        </label>
                        <br>
                        <input type="radio" value="gpay" checked name="payMode" id="paySelect">
                        <label for="paySelect">
                            Google Pay
                        </label>
                        <label>Address </label>
                        <input type="text" class="form-control" id="address" name="address"
                            value="koyikkanjalil House Thrikkakara po Mundampalam" placeholder="Enter address">
                        <label>Pincode</label>
                        <input type="number" name="pincode" class="form-control" value="682021" id="pincode"
                            placeholder="Enter pincode">
                        <label for="phno">Contact Number</label>
                        <input type="number" class="form-control" name="phno" value="7012849522" id="phno"
                            placeholder="Enter contact number">
                            <input type="text" name="userId" value="{{user._id}}" hidden>
                        <button type="submit" class="btn btn-success ">
                            Place Order
                        </button>
                    </form>
                </div>
        </div>
    </div>

</section>
<script>
    $("#checkout__form").submit((e) => {
        e.preventDefault();
        $.ajax({
            url: "/orders/",
            method: "POST",
            data: $("#checkout__form").serialize(),
            success: (response) => {
                console.log(response);
            },
        });
    });

</script>