<section>
    <div class="container text-center pt-5 col-md-4">
        <h2>Order Placed Successfully </h2><br>
        <a href="/order-summary" class="btn btn-primary">View Orders</a>
    </div>

</section>